<!-- <div style="float: left;"> -->
<div class="row">
    <mat-form-field style="width : 25%;">
        <mat-label>Country</mat-label>
        <mat-select [(ngModel)]="selectedValue" name="country" (ngModelChange)="onSelectCountry()">
            <mat-option [value]="country" *ngFor="let country of countries">{{ country }}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<!-- </div> -->
<div class="row">
    <div class="row title-center title">
            Happiness score division of {{selectedValue}}
    </div>
    <div id="chartdiv3" style="height: 10rem;"></div>
    <div id="legenddiv" style="height:7rem;"></div>
</div>
