
<!-- <div id = "heading" style="font-weight: 24pt; text-align: center;">
<b>Happiness score all around the world from 2015 to 2019</b>
</div> -->
<!-- <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <app-map></app-map>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-bar></app-bar>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-donut></app-donut>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-compare></app-compare>
    </mat-grid-tile>
  </mat-grid-list> -->
<div class="row text-center pt-2">
    <b>Happiness score all around the world from 2015 to 2019</b>
</div>
<div class="row p-3">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <app-map></app-map>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <app-bar></app-bar>
          </div>
        </div>
      </div>
  </div>

  <div class="row px-3 pt-1">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <app-donut></app-donut>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <app-compare></app-compare>
          </div>
        </div>
      </div>
  </div>


