
<div id="title">Compare</div>
<div style="display: flex;justify-content: space-around;">
    <mat-form-field style="width : 25%;">
        
            <mat-select  [(ngModel)]="selectedCountry1" name = "country1" (ngModelChange)="onSelectCountry1()">
            <mat-option [value]="country" *ngFor="let country of countries">{{ country }}</mat-option>
            </mat-select>
    </mat-form-field>
    <mat-form-field  style="width : 25%;">
        
            <mat-select  [(ngModel)]="selectedYear" name = "year" (ngModelChange)="onSelectYear()">
            <mat-option [value]="year" *ngFor="let year of years">{{ year }}</mat-option>
            </mat-select>
    </mat-form-field>
    <mat-form-field  style="width : 25%;">
        
            <mat-select  [(ngModel)]="selectedCountry2" name = "country2" (ngModelChange)="onSelectCountry2()">
            <mat-option [value]="country" *ngFor="let country of countries">{{ country }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div id = "chartdiv4" style="height: 400px; width: 730px;"></div>
